<p>Commande n°<%=@cart.id%>/<%=@cart.user.id%></p>

<h3>Bonjour <%= @cart.user.first_name %>, merci pour votre achat !</h3>

<p>Nous préparons l'envoi de votre commande. Nous vous informerons lorsque celle-ci aura été envoyée.</p>

<p>Résumé de la commande :</p>

<% @cart.line_items.each do |item| %>
  <p>- <%=item.product.title%></p>
  <% if item.product.image.attached? %>
    <p><%= image_tag  item.product.image %></p>
    <% else %>
    <p><img src="https://www.popfixion.fr/upload/news/unes/20150301_034854Felix_thewonderful_cat.jpg"></p>
  <% end %>
<%end%>
<p>Prix total: <%=@cart.total%>€</p>