<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Catfoto'shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Accueil
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/about">Qui sommes-nous?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/contact">Contact</a>
      </li>
    </ul>


      <% if current_user.present? && current_user.carts.exists? && current_user.carts.last.is_paid == false %>
        <div class="navbar-cart mr-5">
          <div class="d-flex row">
            <div class="">
              <%= link_to cart_path(current_user.carts.last), class: "cart nav-item nav-link"  do %>
                <i class="fas fa-cart-arrow-down" style="color: white; font-size: 18px;"></i>
              <% end %>
            </div>
            <div class="pr-3">
              <small style="color:white">Articles (<%= number_items(current_user) %>)<br>
              <strong><span><%= sum_items(current_user) %> €</span></strong></small>
            </div>
          </div>
        </div>
      <% end %>



      <%if user_signed_in?%>
        <div class="nav-item dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black">
            <%= current_user.first_name %> <%= current_user.last_name %>
          </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" <%= link_to "Mon profil", user_path(current_user.id) %></a>
              <a class="dropdown-item" <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></a>
            </div>
        </div>


        <%else%>

        <div class="nav-item dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            inscription/connexion
          </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" <%= link_to "S'inscrire", new_user_registration_path %></a>
              <a class="dropdown-item" <%= link_to "Se connecter", new_user_session_path %></a>
            </div>
        </div>

        <%end%>
  </div>
</nav>
